<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>{% block Tilie_block %}hhh{% endblock Tilie_block %}</title>
</head>
<body class="body_container">
    <header id="Header">
        <div class="nav__bar container">
            <nav>
                <div id="menu-btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="left__header">
                    <img src="{%static 'img/logo.png' %}" alt="">
                    <h2>Fsbmcours</h2>
                </div>
                <div class="main__nav">
                    <a href="{% url 'index' %}">
                        <i class="fa-solid fa-house-chimney"></i>
                        Home
                    </a>
                    <a href="">
                        <i class="fa-solid fa-address-book"></i>
                        contact Us
                    </a>
                </div>
            </nav>
            <div class="right__header">
                <!-- <a href="">Login</a> -->
               
                <div class="notification">
                    <div class="profile_box">
                        {% if request.user.is_authenticated %}
                        <a class="" href="{% url 'account:user-profile' request.user.username %}">
                            <h3>Profile</h3>
                        </a>
                        <a class="" href="{% url 'account:logout' %}">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <h3>Log out</h3>
                        </a>
                        {% else %}
                        <a class="" href="{% url 'account:login' %}">
                            <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            <h3>Log In</h3>
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% comment %} <div class="theme-toggler">
                    <i class="dark_mode_incons fa-solid  dark_active {% if WebConfig_qs.isdark %}  fa-moon {% else %} fa-sun {% endif %}"></i>
                    <!-- <i class="fa-solid fa-moon"></i> -->
                </div> {% endcomment %}
                <button class="user__avatar" href="">
                    {% if request.user.is_authenticated %}
                    <img src="{{ request.user.imageURL }}" alt="">
                    <span>{{ request.user.username }}    </span>
                    {% else %}
                    {% comment %} <i class="fa-solid fa-arrow-right-to-bracket"></i> {% endcomment %}
                    <img src="{% static 'img/avatar.svg'%}" alt="">
                    <span href="">Account</span>
                    {% endif %}
                </button>
                
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <script src="{% static 'js/main.js' %}"></script>
    {% block dashboard_script %}{% endblock dashboard_script %}
</body>
</html>