{% extends "base.html" %}{% load static %} {% block Tilie_block %} Home
|Bibliothèque on Ligne {% endblock Tilie_block %} {% block content %}
<div class="body__section">
  <div class="body__section_info">
    <h1>bibliothèque on ligne</h1>
    <h3>Find Your Module</h3>
  </div>
  <div class="serch__section">
    <!-- <form action="." method="get"> -->
      <!-- <form action="" method="post"> -->
    <form action="{% url 'index' %}" method="get" enctype="multipart/form-data">
      {% csrf_token %}
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="search" name="q" id="q" placeholder="search ... " />
    </form>
  </div>
  <div class="courses__section_header max__width">
    <h3>{{course_size}} courses</h3>
  </div>
  <div class="courses__section">
    {% if modules %} {% for cours in modules %}
    <a href="{{ cours.getModuleViewsURL }}" class="courses__section_box">
      <img
        src="{% if cours.semester.departement.name == 'Physique' %}{% static 'img/smp.png' %}{% else %}{% static 'img/smc.png' %}{% endif %}"
        alt="" />
      <div class="courses__section_box_body">
        <h3>{{ cours.name }}</h3>
        <h5>{{ cours.semester.name }}</h5>
      </div>
    </a>
    {% empty %}
    <h3>No data</h3>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock content %}