{% extends 'dashboard/base.html' %} {% load static %}
{% block Tilie_block %} {{ Semesters.name }} {% endblock Tilie_block %}
{% block pageTitle %}
<h1>Dashboard</h1>
<div class="data">
  <input type="date"  name="" id="" />
</div>
{% endblock pageTitle %}
{% block conatnt %}
<div class="flex-btn mb-3rem">
  <a href="{{ Modules.AddCourseURL }}" class="primary">
      <i class="fa-solid fa-plus"></i>
      Add Product
  </a>
</div>
<div class="insights">
    {% for Obj in Courses %}
    <div class="element___box ">
        <img class="__element__box_img " src="{% static 'img/obj.jpg' %}" alt="Product {{Obj.name}}">
        <div class="box_info">
             <div class="del_Edit_btn flex-btn">
                <a class="btn danger" href="{{ Obj.DeleteCourseURL }}">
                    <i  class="fa-solid fa-trash"></i>
                </a>
                <form class="btn published_btn" action="">
                    <input type="checkbox" name="checkbox" id="checkbox">
                    <i class="pub_icon fa-solid fa-eye"></i>
                 </form>
            </div>
            <div class="box_info_content">
                <h1>{{ Obj }}</h1>
                <h6>{{ Obj.created}}</h6>
                <h6>{{ Obj.count }} Files</h6>
                <h6>{{ Obj.views }} Views</h6>
                <div class="flex-btn">
                    <a href="{{ Obj.EditCourseURL }}" class="primary">
                        <i class="fa-solid fa-pencil"></i>
                        Edit
                    </a>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock conatnt %}
